@page
@model PlayingForKeepers.Pages.Teams.TeamDetailsModel
@{
    ViewData["Title"] = "TeamDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Model.GetLeague[0].LeagueName</h2>
<hr />

@* Display tabbed navs HTML*@
<div class="row">
    <div class="col m-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" asp-page="../Leagues/LeagueDetails" asp-route-leagueId="@Model.GetLeague[0].LeagueID">League Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Leagues/LeagueActivity" asp-route-leagueId="@Model.GetLeague[0].LeagueID">League Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Leagues/LeagueRules" asp-route-leagueId="@Model.GetLeague[0].LeagueID">League Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Team Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="TeamCapitals" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Team Capital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradeDetails" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trade Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradesPending" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trades Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradesCompleted" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trades Completed</a>
            </li>
        </ul>
    </div>
</div>

<hr />

@* HTML to hold the Team Roster info*@
<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="UpdateTeam" asp-route-teamId="GetTeam[0].TeamID" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GetTeam[0].TeamName" class="control-label"></label>
                <input asp-for="GetTeam[0].TeamName" class="form-control" />
                <span asp-validation-for="GetTeam[0].TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GetTeam[0].TeamAbbr" class="control-label"></label>
                <input asp-for="GetTeam[0].TeamAbbr" class="form-control" />
                <span asp-validation-for="GetTeam[0].TeamAbbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Team" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

@* HTML to hold the Team Roster info*@
<div class="container">
    <div class="row">
        <div class="col-lg p-0">
            <form method="post">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">Player Name</th>
                                <th scope="col" style="text-align: center;">Player Injury Status</th>
                                <th scope="col" style="text-align: center;">Player Season Outlook</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.GetESPNRoster.teams[0].roster.entries.Count; i++)
                                {
                                    <tr>
                                        <td style="text-align: center;">@Model.GetESPNRoster.teams[0].roster.entries[i].playerPoolEntry.player.fullName</td>
                                        <td style="text-align: center;">@Model.GetESPNRoster.teams[0].roster.entries[i].playerPoolEntry.player.injuryStatus </td>
                                        <td style="text-align: center;">@Model.GetESPNRoster.teams[0].roster.entries[i].playerPoolEntry.player.seasonOutlook</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

