@page
@model PlayingForKeepers.Pages.Leagues.CreateLeagueModel
@{
    ViewData["Title"] = "CreateLeague";
}

@* Add new league HTML *@
@*<div class="row">
        <div class="col-md-8">
            <section>
                <form method="post" role="form" class="form-inline">

                    <div class="form-group">
                        @Html.LabelFor(m => m.LeaguesVM.LeagueName)
                        @Html.TextBoxFor(m => m.LeaguesVM.LeagueName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LeaguesVM.LeagueName, "", new { @class = "text-danger" })

                        @Html.LabelFor(m => m.LeaguesVM.LeagueTeamsPossible)
                        @Html.TextBoxFor(m => m.LeaguesVM.LeagueTeamsPossible, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LeaguesVM.LeagueTeamsPossible, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button asp-page-handler="AddLeague" class="btn btn-dark">Add New League</button>
                    </div>
                </form>
            </section>
        </div>
    </div>*@


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddLeague.LeagueName" class="control-label"></label>
                <input asp-for="AddLeague.LeagueName" class="form-control" />
                <span asp-validation-for="AddLeague.LeagueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddLeague.LeagueTeamsPossible" class="control-label"></label>
                <input asp-for="AddLeague.LeagueTeamsPossible" class="form-control" />
                <span asp-validation-for="AddLeague.LeagueTeamsPossible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateLeague" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>