@page
@model PlayingForKeepers.Pages.Leagues.LeaguesIndexModel
@{
    ViewData["Title"] = "LeagueIndex";
}

@* Link to create a new league HTML *@
<p>
    <a asp-page="AddLeague">Add League</a>
</p>

@* Display tabbed navs HTML*@
<div class="row">
    <div class="col m-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="./LeaguesIndex">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./JoinedLeagues">Joined</a>
            </li>
        </ul>
    </div>
</div>


@* Display all leagues HTML *@
<form method="post">
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Action</th>
                    <th scope="col" style="text-align: center;">League ID</th>
                    <th scope="col" style="text-align: center;">Name</th>
                    <th scope="col" style="text-align: center;">Teams Used</th>
                    <th scope="col" style="text-align: center;">Teams Possible</th>
                    <th scope="col" style="text-align: center;">Owner ID</th>
                    <th scope="col" style="text-align: center;">Status</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.GetUnJoinedLeagues.Count; i++)
                {
                    <tr>
                        <th scope="row" style="text-align: center;">
                            <input asp-page-handler="JoinLeague" asp-route-leagueId="@Model.GetUnJoinedLeagues[i].LeagueID" type="submit" value="Join" class="btn btn-secondary" />
                            <input asp-page-handler="DeleteLeague" asp-route-leagueId="@Model.GetUnJoinedLeagues[i].LeagueID" type="submit" value="Delete" class="btn btn-danger" />
                        </th>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueID</td>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueName</td>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueTeamsUsed </td>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueTeamsPossible </td>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueOwnerID </td>
                        <td style="text-align: center;">@Model.GetUnJoinedLeagues[i].LeagueStatus </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
