@page
@model PlayingForKeepers.Pages.Leagues.LeagueDetailsModel
@{
    ViewData["Title"] = "LeagueDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Model.GetLeague[0].LeagueName</h2>
<hr />

@* Display tabbed navs HTML*@
<div class="row">
    <div class="col m-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">League Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="LeagueActivity" asp-route-leagueId="@Model.GetLeague[0].LeagueID">League Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="LeagueRules" asp-route-leagueId="@Model.GetLeague[0].LeagueID">League Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Teams/TeamDetails" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Team Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Teams/TeamCapitals" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Team Capital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradeDetails" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trade Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradesPending" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trades Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Trades/TradesCompleted" asp-route-leagueId="@Model.GetLeague[0].LeagueID">Trades Completed</a>
            </li>
        </ul>
    </div>
</div>

<hr />



@* HTML to hold the league team info*@
<div class="container">
    <div class="row">
        <div class="col-lg p-0">
            <form method="post">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">Action</th>
                                <th scope="col" style="text-align: center;">Team Owner</th>
                                <th scope="col" style="text-align: center;">Team Name</th>
                                <th scope="col" style="text-align: center;">Team Abbr</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.GetTeams.Count; i++)
                            {
                                <tr>
                                    <th scope="row" style="text-align: center;">

                                        @if (string.IsNullOrEmpty(Model.GetTeams[i].TeamOwnerID))
                                        {
                                            <input asp-page-handler="JoinTeam" asp-route-teamId="@Model.GetTeams[i].TeamID" asp-route-leagueId="@Model.GetLeague[0].LeagueID" type="submit" value="Take" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            //if (Model.GetTeamsFiltered[i].TeamOwnerID = )
                                            //{
                                            <input class="btn btn-danger" asp-page-handler="LeaveTeam" asp-route-teamId="@Model.GetTeams[i].TeamID" asp-route-leagueId="@Model.GetLeague[0].LeagueID" type="submit" value="Leave" />
                                            //}
                                            //else
                                            //{
                                            <button type="button" class="btn btn-secondary" disabled>Owned</button>
                                            //}
                                        }

                                    </th>
                                    <td style="text-align: center;">@Model.GetTeams[i].TeamOwnerID </td>
                                    <td style="text-align: center;"><input asp-for=@Model.GetTeams[i].TeamName class="form-control" /></td>
                                    <td style="text-align: center;"><input asp-for=@Model.GetTeams[i].TeamAbbr class="form-control" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>