@page
@model PlayingForKeepers.Pages.Leagues.LeagueDetailsModel
@{
    ViewData["Title"] = "LeagueDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h2>Welcome</h2>
    <hr />

<div class="container">
    <div class="row">

        @* HTML to hold the league team info*@
        <div class="col-lg-6">
            <form method="post">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">Action</th>
                                <th scope="col" style="text-align: center;">Owner</th>
                                <th scope="col" style="text-align: center;">Team Name</th>
                                <th scope="col" style="text-align: center;">Team Abbr</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.GetTeamsFiltered.Count; i++)
                            {
                                <tr>
                                    <th scope="row" style="text-align: center;">

                                        @if (string.IsNullOrEmpty(Model.GetTeamsFiltered[i].TeamOwnerID))
                                        {
                                            <input asp-page-handler="JoinTeam" asp-route-teamId="@Model.GetTeamsFiltered[i].TeamID" asp-route-leagueId="@Model.LeagueID" type="submit" value="Take" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <a disabled class="btn btn-secondary">Owned</a>
                                            <input class="btn btn-danger" asp-page-handler="LeaveTeam" asp-route-teamId="@Model.GetTeamsFiltered[i].TeamID" asp-route-leagueId="@Model.LeagueID" type="submit" value="Leave" />
                                        }

                                    </th>
                                    <td style="text-align: center;">@Model.GetTeamsFiltered[i].TeamOwnerID </td>
                                    <td style="text-align: center;">@Model.GetTeamsFiltered[i].TeamName</td>
                                    <td style="text-align: center;">@Model.GetTeamsFiltered[i].TeamAbbr </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        @* HTML to hold the League Activity info*@
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">Activity Description</th>
                            <th scope="col" style="text-align: center;">Activity Date</th>
                            <th scope="col" style="text-align: center;">Activity Type</th>

                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.GetLeagueActivity.Count; i++)
                        {
                            <tr>
                                <td style="text-align: center;">@Model.GetLeagueActivity[i].LeagueActivityDescription</td>
                                <td style="text-align: center;">@Model.GetLeagueActivity[i].LeagueActivityDate </td>
                                <td style="text-align: center;">@Model.GetLeagueActivity[i].LeagueActivityType </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>